.item-view-div{
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
}

/* Images */
.item-all-images{
    padding: 30px;
}
.item-all-images .item-image-highlight{
    width: 100%;
    padding: 0 30px;
}
.item-all-images .item-image-highlight img{
    width: 100%;
}
.item-all-images .item-image-small{
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    justify-content: center;
    margin: 20px 10px;
    padding: 10px;
}

.item-all-images .item-image-small img{
    width: 70px;
    height: 70px;
}

.small-images+.small-images{
    margin-left: 10px;
}
.small-images:hover{
    border: 1px solid gainsboro;
    cursor: pointer;
}

/* Description */
.item-descriptions{
    padding: 30px;
}

.rent-it-option-div{
    margin-top: 40px;
}
.rent-it-option{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: column;
}
.rent-it-option span {
    width: 100%;
    margin-bottom: 10px;
}
.rent-it-option span > *{
    width: 100%;
}

/*Review area*/
.review-div{
    width: 100%;
    margin-top:20px;
    margin-bottom: 30px;
}
.review-area .review-box{
    margin-bottom: 10px;
}
.user-review{
    border-bottom: 1px solid gainsboro;
    padding: 5px;
    margin-bottom: 10px;
}

.review-form{
    width: 100%;
}
.comment-action{
    color: blue;
}
.comment-action:hover{
    color: skyblue;
}