.nav-bar-header{
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Menu */
.nav-bar-header .nav-bar-menu {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 600;
    background-color: #282c34;
}
.ant-menu-dark.ant-menu-horizontal{
    margin-left: auto;
}

.ant-menu-title-content span{
    color: white;
}

#nav-bar{
    position: fixed;
    z-index: 100;
}

.disabled-menu:hover{
    color: transparent;
}